<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>答题</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript">
if(window.navigator.userAgent.toLowerCase().match(/android/i) !== null){
    if(localStorage.getItem('questionRight') == 1){
        localStorage.setItem('questionRight','0');
        location.reload();
    }
}
    </script>
</head>

<body>
    <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <div class="wrapper">
        <section class="main">
            <header>
                <h1>答题</h1>
            </header>
            <div class="container">
                <form action="">
                    <div class="questions">
                        <% questions.forEach(function(question, index){ %>
                        <div class="question<%= index==0?' active':'' %>">
                            <h4><%= question.title %></h4>
                            <ol class="options">
                                <% question.options.forEach(function(opt, idx){ %>
                                <li class="<%= opt.checked %>">
                                    <div class="<%= question.type %>">
                                        <label>
                                            <input type="<%= question.type %>" name="<%= question._id %>" data-checked="<%= opt.checked %>"><%= opt.option %>
                                        </label>
                                    </div>
                                </li>
                                <% }) %>
                            </ol>
                            <p class="explain"><strong>解释：</strong><%= question.explain %></p>
                        </div>
                        <% }) %>
                    </div>
                    <span class="submit normal" data-status="0">提交</span>
                    <a href="#" class="continue">继续答题</a>
                </form>
            </div>
        </section>
        <div class="layer">
            <div class="result">
                <p>答对啦！</p>
                <p>很遗憾没有中奖，下次再接再厉</p>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-success btn-block">再来一次</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-warning btn-block">查看问题解释</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    <script>
$(document).ready(function() {
    setTimeout(function() {window.scrollTo(0,0);}, 200);

    var REDIRECT_URL = 'https://www.baidu.com/',
        submited = false,
        wrongFlag = false,
        answerNum = 0;

    var $form = $('form'),
        $question = $form.find('.question'),
        $layer = $('.layer'),
        $submit = $('.submit'),
        submitText,
        status = 0;

    $submit.click(function(event) {
        var $currentQuestion = $question.filter('.active:last');
        if(status == 0){
            answerNum++;
            $currentQuestion.find('input').each(function(i, el) {
                if($(el).is(':checked') != $(el).data('checked')){
                    $currentQuestion.addClass('wrong');
                    wrongFlag = true;
                    return;
                }
            });
            $currentQuestion.addClass('done');
            if(wrongFlag){
                $layer.find('p:eq(0)').text('答错啦...');
                if(answerNum == 10){
                    submitText = '再来一次';
                    $layer.find('button:eq(0)').text('再来一次');
                    $layer.find('p:eq(1)').text('很遗憾没有答对，下次再接再厉吧');
                    status = 1;
                }else{
                    submitText = '下一题';
                    $layer.find('button:eq(0)').text('下一题');
                    $layer.find('p:eq(1)').text('进入下一题，答对有大奖！');
                    status = 2;
                }
                
            }else{
                submitText = '马上领奖';
                $layer.find('p:eq(0)').text('答对啦！');
                $layer.find('p:eq(1)').text('恭喜您中奖啦，点击下方按钮去领奖吧')
                $layer.find('button:eq(0)').text('马上领奖');
                status = 3;
            }
            $layer.fadeIn(200);
        }else if(status == 1){
            location.reload();
        }else if(status == 2){
            status = 0;
            $question.filter(':not(".active")').eq(0).addClass('active');
            wrongFlag = false;
            $submit.text('提交').removeClass('success').addClass('normal');
        }else{
            localStorage.setItem('questionRight','1');
            window.location.href = REDIRECT_URL;
        }
    });

    $submit.on('touchstart', function() {
        $(this).addClass('active');
    }).on('touchend', function() {
        $(this).removeClass('active'); 
    });

    $layer.find('button:eq(0)').click(function() {
        if(status == 1){
            location.reload();
        }else if(status == 2){
            status = 0;
            $layer.fadeOut(200, function() {
                $question.filter(':not(".active")').eq(0).addClass('active');
                wrongFlag = false;
            });
        }else{
            localStorage.setItem('questionRight','1');
            $form.find('.continue').css('display', 'block');
            window.location.href = REDIRECT_URL;
        }
    });

    $form.find('.continue').click(function() {
        status = 0;
        $question.filter(':not(".active")').eq(0).addClass('active');
        wrongFlag = false;
        $submit.text('提交').removeClass('danger').addClass('normal');
        $(this).css('display', 'none');
    });

    $layer.find('button:eq(1)').click(function() {
        console.log(status);
        if(status == 3){
            $submit.text(submitText).removeClass('normal').addClass('danger');
            $form.find('.continue').css('display', 'block');
        }else{
            $submit.text(submitText).removeClass('normal').addClass('success');
        }
        $layer.fadeOut(200);
        window.scrollTo(0,0);
    });
});
    </script>
</body>

</html>
